@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

:root {
    --heading-font: Garamond;
    --paragraph-font: Lato, Helvetica, sans-serif;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    font-family: var(--paragraph-font);
    background-color: #00B4D8;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #396E94;
    color: white;
}
nav a {
    color: #013153;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
.logo {
    width:80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}
.home-grid {
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
}
.education {
    grid-row: 1/2;
}
.section {
    grid-row: 2/3;
}
#job1 {
    grid-row: 2/4;
}
#job2 {
    grid-row: 4/6;
}
#job3 {
    grid-row: 6/8;
}
.achievements {
    grid-row: 8/10;
    grid-column: 1/2;
}
.volunteer {
    grid-row: 8/10;
    grid-column: 2/3;
}
.career-skills {
    grid-row: 8/10;
    grid-column: 3/4;
}